/*
	Stylesheet: Lists
	Description: List Styling
*/


/*---- In article lists ----*/

.single-article-content li {
	list-style: disc;
}

/*---- Article List ----*/

.article-image {
	margin: 0;
}

.list-divider {
	clear: both;
	margin: 0;
	border: none;
}

.post {
	@include rem('margin-bottom', $large-spacing);
}

.promoted-list, .medium-list, .thumb-list, .text-list {
	h2 { margin-bottom: 0; } // Allows date to sit closer to heading
}

.thumb-list {
	@extend .cf;

	.post-title {
		margin-top: 0;
	}

}

.text-list {

	h2 { 
		@include inline-block;
		margin: 0;
		font-size: em(21px); 
	}
	p { 
		margin-top: 0;
		font-size: em(15px); 
	}
}


/*---- Image List ----*/

.list-images {
	@extend .cf;
	
	li {
		@include equal-span(3, 'small');
	}
}


/*---- Icon List ----*/

.list-icons {
	@extend .cf;
	
	li {
		float: left;
		
		@include rem('padding', $small-spacing);
	}
}


/*---- Boxed List ----*/

.list-boxed {
	@extend .cf;
	
	li {
		@include rem('margin-bottom', $standard-spacing);
		border: 1px solid #ddd
	}
}


/*---- Partners ----*/

.partners {
	p, ul, li {
		display: inline-block;
		
		@include rem('margin-right', $standard-spacing);
	}
}